.list-container{
    height: 90vh;
}

.task-table-first-column{
    padding-left: 20px !important;
}

th{
    font-weight: 600;
}

td{
    opacity: 0.8;
}

.dropdown-toggle::after {
    display: none !important; 
}

a{
    text-decoration: none;
}

.avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}